<html>
    <head>
        <link rel="stylesheet" type=text/css href="{{url_for('static', filename='nav_bar.css')}}">
        <title>Sports</title>
    </head>
    <body>
        <div class="topnav">
  <a class="active" href="#home">Home</a>
  <div class="login-container">
    <form action="/action_page.php">
      <a href="#" class="button">Login</a>
    </form>
  </div>
</div>
    <h1>Sports Catalog</h1>
        {% for i in categories %}
        <div>
            <p>
                <a href='{{url_for('show_all_teams', category_id=i.id)}}'>{{i.category_name}}</a>
            </p>

        </div>
        {% endfor %}
    </body>
</html>
