{% include "header.html" %}
<html>
    <head>
        <link rel="stylesheet" type=text/css href="{{url_for('static', filename='nav_bar.css')}}">
        <title>Teams</title>
    </head>
    <body>
        <!-- <div class="topnav">
  <a class="active" href='{{url_for('show_catalog')}}'>Home</a>
  <div class="login-container">
    <form action="/action_page.php">
      <a href="#" class="button">Login</a>
    </form>
  </div>

</div> -->
<h1>{{category.category_name}} Teams</h1>
<a href="{{url_for('new_team', category_id = category.id )}}">
    <button class="btn btn-default" id="new-team">
        <span class="glyphicon glyphicon-glass" aria-hidden="true"></span>Add Team
    </button>
</a>
    {% for i in teams %}
        <div>
            <p>
                <a href='{{url_for('show_team_detail', category_id=category.id, team_id=i.id)}}'>{{i.team_name}}</a>
            </p>
                <a href= '{{url_for('edit_team', category_id = category.id, team_id = i.id)}}'>Edit</a>
                <a href= '{{url_for('delete_team', category_id = category.id, team_id = i.id)}}'>Delete</a>
        </div>
    {% endfor %}

    </body>

</html>
